<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-pale-yellow w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px"><i class="fa fa-close w3-hover-opacity"></i></a>
  <div class="w3-container w3-center">
    <a href="" class="w3-text-pale-yellow">&nbsp;&nbsp;&nbsp;<img src="img/logo2.png" class="w3-circle" alt="logo" style="width:50%;margin-top:20px"></a>
    <h2><b>Namo</b></h2>
    <h5>Natural & Modern</h5>
  </div>
  <div class="w3-bar-block w3-center" style="margin-top:10px">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Showcase</a>
    <a href="#services" onclick="w3_close()" class="w3-text-black w3-bar-item w3-button w3-hover-white">Services</a>
    <a href="#designers" onclick="w3_close()" class="w3-text-black w3-bar-item w3-button w3-hover-white">Designers</a>
    <a href="#packages" onclick="w3_close()" class="w3-text-black w3-bar-item w3-button w3-hover-white">Packages</a>
    <a href="#contact" onclick="w3_close()" class="w3-text-black w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
  <div class="w3-padding w3-display-bottommiddle w3-text-black w3-large">
    <a href=""><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href=""><i class="fa fa-instagram w3-hover-opacity"></i></a>
    <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
    <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
    <!--<i class="fa fa-twitter w3-hover-opacity"></i>-->
    <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
  </div>
  <!--<div class="w3-padding w3-xlarge w3-text-black w3-display-bottommiddle w3-hide-small">-->
    <!--<a href="#"><i class="fa fa-instagram"></i></a>-->
    <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
  <!--</div>-->
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-large w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">&#9776;</a>
  <span>Company Name</span>
</header>